.jumbotron{
    background-color: #1f507a;
    color: whitesmoke;
    text-align: center;
}
#header{
    font-weight: bold;
}
#sub-header{
    font-weight: bold;
}
table{
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 15px;
}
th{
    font-weight: bold;
    border-bottom: 1px solid black;
}
.card{
    border-color: #337ab7;
    margin-bottom: 25px;
}
.card-header{
    background-color: #337ab7;
    color: whitesmoke;
    font-weight: 500;
    padding: 10px;
}
form{
    margin: 15px;
}